<section id="browse-container" layout="column">
    <section class="row page-overview">
        <h3>Browse through our library of drum sounds. After signing up you can choose your favorite sounds by pressing the heart icon. Once you're through browsing, move over to the 'Kit' page to begin playing.</h3>
    </section>
    <md-content class="md-padding">
        <md-tabs md-selected="selectedIndex">
            <md-tab ng-click="filterSounds(tab.title)" ng-repeat="tab in tabs" ng-disabled="tab.disabled">
                <md-tab-label>
                    <img ng-src="{{tab.src}}">
                    <p>{{tab.title}}</p>
                </md-tab-label>
                <md-tab-body>
                    <div id="tabs-container" class="row">
                        <div ng-repeat="sound in showSounds">
                            <p class="small-8 columns">{{ sound.name }}</p>
                            <input type="image" src="assets/play-button.png" id="play-btn" ng-click="testPlay(sound.index)" layout-sm="column">
                            <section layout="row" layout-sm="column" layout-align="center center">
                                <span ng-if="username">
                                    <md-button ng-click="unfavorite(sound)" ng-show="sound.isFavorite" aria-label="Favorite">
                                        <img src="../assets/favorite.png">
                                    </md-button>
                                    <md-button ng-click="favorite(sound)" ng-hide="sound.isFavorite" aria-label="Favorite">
                                        <img src="../assets/unfavorite.png">
                                    </md-button>
                                </span>
                            </section>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</section>