<form action="/login" method="post">
    <input type="text" placeholder="Username" name="username">
    <input type="text" placeholder="Password" name="password">
    <button type="submit">Log in</button>
</form>

<!--Angular way to submit form - - - - - - - - - - - - - - - - - - -
<form ng-submit="sendLogin()">
    <input type="text" placeholder="Username" name="username"  ng-model="loginUserName"/>
    <input type="password" placeholder="Password" name="password" ng-model="loginUserPassword"/>
    <button>Login</button>
</form>-->
