<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Drum Circle</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://npmcdn.com/angular-ui-router@1.0.0-beta.3/release/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="DrumCircleApp">
    <main>
        <ui-view></ui-view>
    </main>
    <section id "login-form">
        <form action="/login" method="post">
            <input type="text" placeholder="Username" name="username"  ng-model="loginUserName" required/>
            <input type="password" placeholder="Password" name="password" ng-model="loginUserPassword" required/>
            <button type="submit" ng-click="addLogin()">Login</button>
        </form>
    </section>
    <section id "signup-form">
        <form action="/sign-up" method="post">
            <input type="text" placeholder="Username" name="username" ng-model="signupUserName" required/>
            <input type="password" placeholder="Password" name="password" ng-model="signupUserPassword"  required/>
            <button type="submit" ng-click="addSignup()">Sign Up</button>
        </form>
    </section>

    <footer>
        <p>Footer goes here</p>
    </footer>
</body>
</html>