body {
  background-color: #F5F2EE; }

.page-overview {
  background-color: #0D4656;
  color: #F5F2EE;
  margin: 0 !important;
  font-family: "Play", sans-serif;
  text-align: center;
  padding: 20px; }

h3 {
  margin: 0 auto;
  width: 80%;
  font-size: 1.1em; }

header {
  background-color: #F5F2EE; }
  header nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%; }
    header nav #nav-logo {
      display: flex;
      align-items: center; }
      header nav #nav-logo img {
        height: 70px; }
      header nav #nav-logo h1 {
        margin-bottom: 0px;
        margin-left: 12px;
        font-family: "Joti One", cursive;
        color: #0D4656;
        text-transform: uppercase; }
    header nav #nav-links ul {
      display: flex;
      padding: 0;
      margin: 0; }
      header nav #nav-links ul li {
        list-style: none;
        padding: 10px;
        margin: 5px;
        border-radius: 5px; }

#welcome-section #hero {
  background-image: url("../assets/drumcircle-hero.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px; }

#welcome-section span {
  font-style: italic; }

#welcome-section #forms {
  padding: 9.5%;
  align-items: center; }
  #welcome-section #forms md-content {
    width: 60%;
    height: 300px;
    overflow: hidden;
    background-color: #333333;
    color: white; }
    #welcome-section #forms md-content md-pagination-wrapper {
      width: 100% !important; }
      #welcome-section #forms md-content md-pagination-wrapper md-tab-item {
        width: 50%; }
      #welcome-section #forms md-content md-pagination-wrapper .md-tab.md-active {
        background-color: #1DAE83; }
      #welcome-section #forms md-content md-pagination-wrapper .md-tab {
        color: white; }
      #welcome-section #forms md-content md-pagination-wrapper md-ink-bar {
        color: #8ED6C1;
        background-color: #8ED6C1; }
    #welcome-section #forms md-content form {
      margin-top: 16px; }
      #welcome-section #forms md-content form button {
        width: 100%;
        height: 48px;
        background-color: #1DAE83; }
      #welcome-section #forms md-content form .md-button {
        width: 100%;
        height: 48px;
        background-color: #1DAE83;
        margin: 0; }
  #welcome-section #forms .md-padding {
    padding: 35px; }

#log-in {
  margin: 5% 0; }
  #log-in #userlogin {
    text-align: center;
    padding: 2%; }
    #log-in #userlogin button {
      background-color: #0D4656;
      color: #fff;
      padding: 8px 16px; }
  #log-in input {
    border: 1px solid black; }

#browse-container md-content {
  width: 80%;
  height: 900px;
  overflow: hidden;
  background-color: #333333;
  color: white;
  margin: 5% auto; }
  #browse-container md-content md-tabs {
    height: 900px; }
    #browse-container md-content md-tabs md-tabs-wrapper {
      height: 75px; }
      #browse-container md-content md-tabs md-tabs-wrapper .md-tab {
        color: white;
        font-size: 9px; }
      #browse-container md-content md-tabs md-tabs-wrapper .md-tab.md-active {
        background-color: #1DAE83; }
      #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas {
        height: 75px; }
        #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper {
          width: 100% !important;
          height: 75px; }
          #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item {
            width: 14.28%;
            height: 75px; }
            #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item p {
              color: white;
              margin: 3px 0 0; }
          #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-ink-bar {
            color: #8ED6C1;
            background-color: #8ED6C1; }
    #browse-container md-content md-tabs md-tabs-content-wrapper {
      margin-bottom: 5%;
      top: 60px; }
      #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content {
        top: 30px; }
        #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content #tabs-container {
          padding: 25px;
          text-align: center; }
          #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content #tabs-container #play-btn {
            background-image: url("../assets/play-button.png");
            background-repeat: no-repeat;
            height: 35px;
            background-size: contain; }

#kit {
  font-family: "Play", sans-serif;
  background-color: #333333;
  padding-top: 40px; }

#fav-sounds {
  border-bottom: 1px solid white;
  padding: 2px;
  margin-bottom: 2px; }

.pad {
  width: 150px;
  height: 150px;
  background-image: linear-gradient(to top right, #1DAE83, #F5F2EE);
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 5px 8px #0D4656; }

#right-defaults {
  display: flex;
  flex-wrap: wrap;
  background-color: #333333;
  padding: 5px; }

#left-defaults {
  background-color: #333333;
  color: white; }
  #left-defaults h2 {
    text-align: center;
    border-bottom: 1px solid white; }

footer {
  background-color: #0D4656;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 100px;
  padding: 20px; }
