/* Large and up */
/* Large only */
html {
  background-color: #F5F2EE; }

body {
  background-color: #F5F2EE;
  font-family: "Play", sans-serif; }

.error {
  color: #0D4656;
  background-color: #6FC5D9;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem; }

.error-icon {
  color: #0D4656; }

.row {
  max-width: 100%;
  margin: 0 !important; }

.page-overview {
  background-color: #0D4656;
  color: #F5F2EE;
  margin: 0 !important;
  text-align: center;
  padding: 15px 5px; }
  @media screen and (min-width: 23.5em) {
    .page-overview {
      padding: 25px 15px; } }

h3 {
  margin: 0 auto;
  width: 80%;
  font-size: 0.8em;
  font-family: "Play", sans-serif; }
  @media screen and (min-width: 23.5em) {
    h3 {
      font-size: 1rem; } }

a {
  color: #0D4656; }

a:hover {
  color: #6FC5D9; }

header {
  background-color: #F5F2EE; }
  header nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%; }
    header nav #nav-logo {
      display: flex;
      align-items: center; }
      header nav #nav-logo img {
        height: 70px; }
      header nav #nav-logo h1 {
        margin-bottom: 0px;
        margin-left: 12px;
        font-family: "Joti One", cursive;
        color: #0D4656;
        text-transform: uppercase;
        font-size: 1.5rem; }
        @media screen and (min-width: 47.93em) {
          header nav #nav-logo h1 {
            font-size: 2.4rem; } }
    header nav #nav-links ul {
      display: flex;
      padding: 0;
      margin: 0;
      width: 150px; }
      @media screen and (min-width: 23.5em) {
        header nav #nav-links ul {
          display: flex;
          width: 200px; } }
      header nav #nav-links ul li {
        list-style: none;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        font-size: 0.8rem; }
        @media screen and (min-width: 23.5em) {
          header nav #nav-links ul li {
            padding: 10px;
            margin: 5px;
            font-size: 1rem; } }
      header nav #nav-links ul button {
        color: #0D4656;
        font-family: "Play", sans-serif; }
      header nav #nav-links ul button:hover {
        color: #6FC5D9; }

#welcome-section #hero {
  background-image: url("../assets/drumcircle-hero.jpg");
  background-size: cover;
  background-position: center center;
  height: 220px; }
  @media screen and (min-width: 23.5em) {
    #welcome-section #hero {
      height: 350px; } }
  @media screen and (min-width: 56.25em) {
    #welcome-section #hero {
      height: 525px; } }

#welcome-section span {
  font-style: italic; }

#welcome-section #forms {
  padding: 7.5%;
  align-items: center;
  margin-bottom: 50px;
  background-color: #F5F2EE; }
  @media screen and (min-width: 23.5em) {
    #welcome-section #forms {
      margin-bottom: 75px; } }
  #welcome-section #forms md-content {
    width: 100%;
    overflow: hidden;
    background-color: #333333;
    color: white; }
    @media screen and (min-width: 23.5em) {
      #welcome-section #forms md-content {
        width: 75%;
        height: 300px; } }
    @media screen and (min-width: 56.25em) {
      #welcome-section #forms md-content {
        width: 50%; } }
    #welcome-section #forms md-content md-tabs {
      min-height: 190px;
      margin-top: 12px; }
      @media screen and (min-width: 23.5em) {
        #welcome-section #forms md-content md-tabs {
          min-height: 220px; } }
    #welcome-section #forms md-content md-tab-content {
      top: -9px;
      height: 165px;
      overflow: hidden; }
      @media screen and (min-width: 23.5em) {
        #welcome-section #forms md-content md-tab-content {
          top: 0px; } }
    #welcome-section #forms md-content md-pagination-wrapper {
      width: 100% !important; }
      #welcome-section #forms md-content md-pagination-wrapper md-tab-item {
        width: 50%;
        text-transform: capitalize; }
      #welcome-section #forms md-content md-pagination-wrapper .md-tab.md-active {
        background-color: #1DAE83; }
      #welcome-section #forms md-content md-pagination-wrapper .md-tab {
        color: white;
        font-size: 11px;
        padding: 8px 24px; }
        @media screen and (min-width: 23.5em) {
          #welcome-section #forms md-content md-pagination-wrapper .md-tab {
            font-size: 14px;
            padding: 12px 24px; } }
      #welcome-section #forms md-content md-pagination-wrapper md-ink-bar {
        color: #8ED6C1;
        background-color: #8ED6C1;
        bottom: 6px; }
        @media screen and (min-width: 23.5em) {
          #welcome-section #forms md-content md-pagination-wrapper md-ink-bar {
            bottom: 0px; } }
    #welcome-section #forms md-content form {
      margin-top: 14px; }
      #welcome-section #forms md-content form input {
        height: 2rem;
        font-size: 0.8rem;
        background-color: #333333; }
        @media screen and (min-width: 23.5em) {
          #welcome-section #forms md-content form input {
            height: 2.4375rem;
            font-size: 1rem; } }
      #welcome-section #forms md-content form .user-lock {
        float: right;
        margin-right: 16px;
        margin-top: -41px;
        position: relative;
        z-index: 2;
        color: #1DAE83; }
      #welcome-section #forms md-content form button {
        width: 100%;
        background-color: #1DAE83;
        padding: 14px 24px;
        font-size: 11px;
        font-weight: 600;
        font-family: "Play", sans-serif; }
        @media screen and (min-width: 23.5em) {
          #welcome-section #forms md-content form button {
            font-size: 14px;
            font-weight: normal; } }
      #welcome-section #forms md-content form .md-button {
        width: 100%;
        background-color: #1DAE83;
        margin: 0; }
  #welcome-section #forms .md-padding {
    padding: 30px; }
    @media screen and (min-width: 47.93em) {
      #welcome-section #forms .md-padding {
        padding: 35px; } }

#welcome-section #welcome-container {
  background-image: url("../assets/welcome-image.jpg");
  background-size: cover;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 23.5em) {
    #welcome-section #welcome-container {
      height: 485px;
      padding-bottom: 75px; } }
  #welcome-section #welcome-container #welcome-content {
    text-align: center;
    width: 70%;
    overflow: hidden;
    color: white; }
    #welcome-section #welcome-container #welcome-content h1 {
      font-family: "Play", sans-serif; }
    #welcome-section #welcome-container #welcome-content h4 {
      font-style: italic;
      font-family: "Play", sans-serif; }
    #welcome-section #welcome-container #welcome-content img {
      width: 14%; }
      @media screen and (min-width: 23.5em) {
        #welcome-section #welcome-container #welcome-content img {
          width: 10%; } }
      @media screen and (min-width: 56.25em) {
        #welcome-section #welcome-container #welcome-content img {
          width: 8%; } }

#browse-container {
  background-color: #F5F2EE;
  padding-bottom: 50px; }
  @media screen and (min-width: 23.5em) {
    #browse-container {
      padding-bottom: 75px; } }
  #browse-container md-content {
    width: 90%;
    height: 415px;
    overflow: hidden;
    background-color: #333333;
    color: white;
    margin: 5% auto; }
    @media screen and (min-width: 23.5em) {
      #browse-container md-content {
        width: 80%;
        height: 700px;
        padding: 25px; } }
    @media screen and (min-width: 56.25em) {
      #browse-container md-content {
        width: 50%;
        height: 700px; } }
    #browse-container md-content md-tabs {
      height: 415px; }
      @media screen and (min-width: 23.5em) {
        #browse-container md-content md-tabs {
          height: 700px; } }
      #browse-container md-content md-tabs md-tabs-wrapper {
        height: 50px; }
        @media screen and (min-width: 23.5em) {
          #browse-container md-content md-tabs md-tabs-wrapper {
            height: 80px; } }
        @media screen and (min-width: 56.25em) {
          #browse-container md-content md-tabs md-tabs-wrapper {
            height: 110px; } }
        #browse-container md-content md-tabs md-tabs-wrapper .md-tab {
          color: white;
          font-size: 9px;
          padding: 6px; }
          @media screen and (min-width: 23.5em) {
            #browse-container md-content md-tabs md-tabs-wrapper .md-tab {
              padding: 10px; } }
        #browse-container md-content md-tabs md-tabs-wrapper .md-tab.md-active {
          background-color: #1DAE83; }
        #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas {
          height: 50px;
          margin: 0px !important; }
          @media screen and (min-width: 23.5em) {
            #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas {
              height: 80px;
              margin: 0 32px; } }
          @media screen and (min-width: 56.25em) {
            #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas {
              height: 95px; } }
          #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper {
            width: 100% !important;
            height: 50px; }
            @media screen and (min-width: 23.5em) {
              #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper {
                height: 80px; } }
            @media screen and (min-width: 56.25em) {
              #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper {
                height: 95px; } }
            #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item {
              width: 14.20%;
              height: 50px; }
              @media screen and (min-width: 23.5em) {
                #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item {
                  height: 80px;
                  width: 14.28%; } }
              @media screen and (min-width: 56.25em) {
                #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item {
                  height: 95px; } }
              #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item p {
                color: white;
                margin: 3px 0 0;
                font-size: 0.35rem; }
                @media screen and (min-width: 23.5em) {
                  #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item p {
                    font-size: 8px; } }
            #browse-container md-content md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-ink-bar {
              color: #8ED6C1;
              background-color: #8ED6C1; }
      #browse-container md-content md-tabs md-tabs-content-wrapper {
        margin-bottom: 5%; }
        @media screen and (min-width: 23.5em) {
          #browse-container md-content md-tabs md-tabs-content-wrapper {
            top: 60px;
            margin-bottom: 8%; } }
        @media screen and (min-width: 47.93em) {
          #browse-container md-content md-tabs md-tabs-content-wrapper {
            top: 70px; } }
        #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content {
          top: 10px; }
          @media screen and (min-width: 23.5em) {
            #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content {
              top: 35px; } }
          #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content #tabs-container {
            padding: 0px 10px 10px; }
            @media screen and (min-width: 23.5em) {
              #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content #tabs-container {
                padding: 0px 25px 25px; } }
            #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content #tabs-container div {
              display: flex;
              justify-content: center;
              align-items: center;
              border-bottom: 1px solid #1DAE83;
              margin: 10px; }
              #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content #tabs-container div #play-btn {
                background-image: url("../assets/play-button.png");
                background-repeat: no-repeat;
                height: 35px;
                background-size: contain; }
              #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content #tabs-container div p {
                color: #F5F2EE;
                margin: 0;
                font-size: 12px; }
                @media screen and (min-width: 23.5em) {
                  #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content #tabs-container div p {
                    font-size: 16px; } }
              #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content #tabs-container div md-button {
                padding: 0px; }
              #browse-container md-content md-tabs md-tabs-content-wrapper md-tab-content #tabs-container div img.ng-scope {
                height: 35px !important; }

#kit-container .wrapper {
  color: white;
  width: 100%;
  background-color: #F5F2EE; }
  #kit-container .wrapper #kit-heading {
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 10px; }
    @media screen and (min-width: 23.5em) {
      #kit-container .wrapper #kit-heading {
        width: 25%; } }
    #kit-container .wrapper #kit-heading h2 {
      font-family: "Play", sans-serif;
      padding-left: 15px; }
      @media screen and (min-width: 23.5em) {
        #kit-container .wrapper #kit-heading h2 {
          font-size: 1.7em;
          text-align: left;
          margin: 0px;
          padding-left: 10px;
          width: 25%; } }
    #kit-container .wrapper #kit-heading #trash-image {
      background-image: url("../assets/trash.png");
      background-size: cover;
      background-position: center center;
      width: 8%;
      height: 25px; }
      @media screen and (min-width: 23.5em) {
        #kit-container .wrapper #kit-heading #trash-image {
          margin: 7px;
          width: 13%; } }
      @media screen and (min-width: 56.25em) {
        #kit-container .wrapper #kit-heading #trash-image {
          width: 10%;
          height: 30px; } }
  #kit-container .wrapper #left-defaults {
    background-color: #333333;
    overflow-y: scroll;
    width: 25%;
    width: 100%;
    height: 100px;
    padding-right: 80px; }
    @media screen and (min-width: 23.5em) {
      #kit-container .wrapper #left-defaults {
        background-color: #333333;
        width: 25%;
        height: 700px;
        padding-right: 0px; } }
    #kit-container .wrapper #left-defaults #fav-sounds {
      border-bottom: 1px solid #1DAE83;
      margin: 10px; }
      #kit-container .wrapper #left-defaults #fav-sounds p {
        font-size: .8em;
        margin: 0; }
  #kit-container .wrapper #right-defaults {
    background-color: #F5F2EE;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px 0px; }
    @media screen and (min-width: 23.5em) {
      #kit-container .wrapper #right-defaults {
        margin-bottom: 120px;
        width: 75%; } }
    #kit-container .wrapper #right-defaults .pad {
      width: 75px;
      height: 75px;
      background-image: linear-gradient(to top right, #1DAE83, #F5F2EE);
      color: #0D4656;
      border-radius: 5px;
      box-shadow: 5px 8px #333333;
      font-size: .7em;
      margin: 5px; }
      @media screen and (min-width: 23.5em) {
        #kit-container .wrapper #right-defaults .pad {
          width: 100px;
          height: 100px;
          margin: 10px; } }
      @media screen and (min-width: 56.25em) {
        #kit-container .wrapper #right-defaults .pad {
          width: 120px;
          height: 120px;
          margin: 15px; } }

footer {
  background-color: #0D4656;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  padding: 12px;
  margin-top: 20px;
  text-align: center; }
  @media screen and (min-width: 23.5em) {
    footer {
      height: 75px;
      padding: 20px; } }
  footer p {
    color: #6FC5D9;
    margin: 0;
    font-size: 0.4rem; }
    @media screen and (min-width: 23.5em) {
      footer p {
        font-size: 0.7rem; } }
