header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%; }
  header nav #nav-logo {
    display: flex;
    align-items: center; }
    header nav #nav-logo img {
      height: 70px; }
  header nav #nav-links ul {
    display: flex;
    padding: 0; }
    header nav #nav-links ul li {
      list-style: none;
      padding: 10px;
      margin: 5px;
      border-radius: 5px; }

#hero {
  background-image: url("../assets/drumcircle-hero.jpg");
  background-size: cover;
  background-position: center center;
  height: 400px; }

#blurb {
  background-color: #6FC5D9;
  margin: 0; }

#log-in {
  margin: 5% 0; }
  #log-in #userlogin {
    text-align: center;
    padding: 2%; }
    #log-in #userlogin button {
      background-color: #0D4656;
      color: #fff;
      padding: 8px 16px; }
  #log-in input {
    border: 1px solid black; }

#play-btn {
  background-image: url("../assets/play-button.png");
  background-repeat: no-repeat;
  height: 35px;
  background-size: contain; }

#kit h1 {
  border: 1px solid red; }

#wad-btns {
  border: 1px solid green; }

#fav-sounds {
  border: 1px solid blue; }

.pad {
  width: 150px;
  height: 150px;
  background-color: lightblue; }

footer {
  background-color: #0D4656;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 100px;
  padding: 20px; }

.row {
  max-width: 100%; }
