<form action="/login" method="post">
    <input type="text" placeholder="Username" name="username">
    <span class><i class="fa fa-user user-lock" aria-hidden="true"></i></span>
    <input type="password" placeholder="Password" name="password">
    <span><i class="fa fa-lock user-lock" aria-hidden="true"></i></span>
    <button type="submit">Log In</button>
</form>

<!--Angular way to submit form - - - - - - - - - - - - - - - - - - -
<form ng-submit="sendLogin()">
    <input type="text" placeholder="Username" name="username"  ng-model="loginUserName"/>
    <input type="password" placeholder="Password" name="password" ng-model="loginUserPassword"/>
    <button>Login</button>
</form>-->
