#browse-container {
    background-color: #F5F2EE;
    padding-bottom: 50px;

     @media screen and (min-width: $size-medium) {
        padding-bottom: 75px;
    }

    md-content {
        width: 90%;
        height: 415px;
        overflow: hidden;
        background-color: #333333;
        color: white;
        margin: 5% auto;

        @media screen and (min-width: $size-medium) {
            width: 80%;
            height: 700px;
            padding: 25px;
        }

        @media screen and (min-width: $size-x-large) {
            width: 50%;
            height: 700px;
        }

        md-tabs {
            height: 415px;

            @media screen and (min-width: $size-medium) {
                height: 700px;
            }

            md-tabs-wrapper {
                height: 50px;

                @media screen and (min-width: $size-medium) {
                    height: 80px;
                }

                @media screen and (min-width: $size-x-large) {
                    height: 110px;
                }

                .md-tab {
                    color: white;
                    font-size: 9px;
                    padding: 6px;

                    @media screen and(min-width: $size-medium) {
                        padding: 10px;
                    }
                }

                .md-tab.md-active {
                    background-color: #1DAE83;
                }
               

                md-tabs-canvas {
                    height: 50px;
                    margin: 0px !important;

                    @media screen and (min-width: $size-medium) {
                        height: 80px;
                        margin: 0 32px;
                    }

                    @media screen and (min-width: $size-x-large) {
                        height: 95px;
                    }

                    md-pagination-wrapper {
                        width: 100% !important;
                        height: 50px;

                        @media screen and (min-width: $size-medium) {
                            height: 80px;
                        }
                        
                        @media screen and (min-width: $size-x-large) {
                            height: 95px;
                        }

                        md-tab-item {
                            width: 14.20%;
                            height: 50px;

                            @media screen and (min-width: $size-medium) {
                                height: 80px;
                                width: 14.28%;
                            }

                            @media screen and (min-width: $size-x-large) {
                                height: 95px;
                            }

                            p {
                                color: white;
                                margin: 3px 0 0;
                                font-size: 0.35rem;

                                @media screen and (min-width: $size-medium) {
                                    font-size: 8px;
                                }
                            }
                        }

                        md-ink-bar {
                            color: #8ED6C1;
                            background-color: #8ED6C1;
                        }
                    }
                }
            }

            md-tabs-content-wrapper {
                margin-bottom: 5%;
                
                @media screen and (min-width: $size-medium) {
                    top: 60px;
                    margin-bottom: 8%;
                }

                @media screen and (min-width: $size-large) {
                    top: 70px;
                }

                md-tab-content {
                    top: 10px;

                    @media screen and (min-width: $size-medium) {
                        top: 35px;
                    }

                    #tabs-container {
                        padding: 0px 10px 10px;

                        @media screen and (min-width: $size-medium) {
                            padding: 0px 25px 25px;
                        }

                        div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px solid #1DAE83;
                            margin: 10px;

                            #play-btn {
                                background-image: url('../assets/play-button.png'); 
                                background-repeat: no-repeat;
                                height: 35px;
                                background-size: contain;
                            }

                            p {
                                color: #F5F2EE;
                                margin: 0;
                                font-size: 12px;

                                @media screen and (min-width: $size-medium) {
                                    font-size: 16px;
                                }
                            }

                            md-button {
                                padding: 0px;
                            }

                            img.ng-scope {
                                height: 35px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}