header {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2%;

        #nav-logo {
            display: flex;
            align-items: center;

            img {
                height: 70px;
            }
        }

        #nav-links {
            
            ul {
                display: flex;
                padding: 0;

                li {
                    list-style: none;
                    padding: 10px;
                    margin: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}