header {
    background-color: #F5F2EE;

    nav {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3%;

        #nav-logo {
            display: flex;
            align-items: center;

            img {
                height: 70px;
            }

            h1 {
                margin-bottom: 0px;
                margin-left: 12px;
                font-family: $logo-font-type;
                color: $logo-font-color;
                text-transform: uppercase;
                font-size: 1.5rem;

                @media screen and (min-width: $size-x-large) {
                    font-size: 2.4rem;
                }
            }
        }

        #nav-links {
            
            ul {
                display: flex;
                padding: 0;
                margin: 0;
                width: 150px;

                @media screen and (min-width: $size-medium) {
                    display: flex;
                    width: 200px;
                }

                li {
                    list-style: none;
                    padding: 5px;
                    margin: 5px;
                    border-radius: 5px;
                    font-size: 0.8rem;

                    @media screen and (min-width: $size-medium) {
                        padding: 10px;
                        margin: 5px;
                        font-size: 1rem;
                    }
                }

                button {
                    color: #0D4656;
                    font-family: $primary-font-type;
                }

                button:hover {
                    color: #6FC5D9;
                }
            }
        }
    }
}