#welcome-section {

    #hero {
        background-image: url('../assets/drumcircle-hero.jpg');
        background-size: cover;
        background-position: center center;
        height: 400px;

    }

    #blurb {
        margin: 0;
    }
}