#hero {
    background-image: url('../assets/drumcircle-hero.jpg');
    background-size: cover;
    background-position: center center;
    height: 220px;

    @media screen and (min-width: $size-medium) {
        height: 350px;
    }

    @media screen and (min-width: $size-x-large) {
        height: 525px;
    }
}

#blurb {
    span {
        font-weight: bold;
    }
}
