#hero {
    background-image: url('../assets/drumcircle-hero.jpg');
    background-size: cover;
    background-position: center center;
    height: 400px;

}

#blurb {
    background-color: #6FC5D9;
    margin: 0;
}
