#kit h1 {
    border: 1px solid red;
}
#wad-btns {
    border: 1px solid green;
}

#fav-sounds {
    border: 1px solid blue;
}

.pad {
    width:150px;
    height: 150px;
    background-color: lightblue;
}
