#kit-container {

    .wrapper {
        color: white;

        #kit-heading {
            width: 100%;
            background-color: #333333;
            display: flex;
            justify-content: space-between;
            padding: 10px;


            h2 {
                font-family: $primary-font-type;
                padding-left: 15px;
            } 

            #trash-image {
                background-image: url('../assets/trash.png');
                background-size: cover;
                background-position: center center;
                width: 8%;
                height: 25px;
            }
        }

        #left-defaults {
            background-color: #333333;
            height: 120px;
            overflow-y: scroll;

            div {
                width: 60%;
            }            

            #fav-sounds {
                border-bottom: 1px solid #1DAE83;
                margin: 10px;

                p {
                    font-size: .8em;
                    margin:0;
                }
            }
        }

        #right-defaults {
            background-color: #F5F2EE;
            width: 100%;

            .pad {
                width: 80px;
                height: 80px;
                background-image: linear-gradient(to top right, #1DAE83, #F5F2EE);
                color: #0D4656;
                border-radius: 5px;
                box-shadow: 5px 8px #333333;
                font-size: .7em;               
            }   
        } 
    }
}