#kit-container {

    .wrapper {
        color: white;

        #left-defaults {
            background-color: #333333;

            #fav-sounds {
                border-bottom: 1px solid #1DAE83;
                margin: 10px;

                p {
                    margin:0;
                }
            }
        }

        #right-defaults {
            display: flex;
            flex-wrap: wrap;
            padding: 5px;

            .pad {
                width:150px;
                height: 150px;
                background-image: linear-gradient(to top right, #1DAE83, #F5F2EE);
                margin: 10px auto;
                border-radius: 5px;
                box-shadow: 5px 8px #0D4656;
            }
        } 
    }
}