#log-in {
    margin: 5% 0;

    #userlogin {
        text-align: center;

        button {
            background-color: #0D4656;
            color: #fff;
            padding: 8px 16px;
        }
    }

    #form {
        text-align: center;  
        padding: 2%;

        input {
            border: 1px solid black;
        } 
    }
}