<form action="/sign-up" method="post">
    <input type="text" placeholder="Create username" name="username" class="user">
    <span class><i class="fa fa-user user-lock" aria-hidden="true"></i></span>
    <input type="password" placeholder="Create password" name="password" class="password">
    <span><i class="fa fa-lock user-lock" aria-hidden="true"></i></span>
    <button type="submit">Sign Up</button>
</form>




<!--Angular way to submit forms  - - - - - - - - - - - - - -
 <form ng-submit="sendSignup()">
    <input type="text" placeholder="Username" name="username"  ng-model="username"/>
    <input type="password" placeholder="Password" name="password" ng-model="password"/>
    <button>sign up </button>
</form>-->
