<form action="/sign-up" method="post">
    <input type="text" placeholder="Create username" name="username">
    <input type="text" placeholder="Create password" name="password">
    <button type="submit">Sign Up</button>
</form>




<!--Angular way to submit forms  - - - - - - - - - - - - - -
 <form ng-submit="sendSignup()">
    <input type="text" placeholder="Username" name="username"  ng-model="username"/>
    <input type="password" placeholder="Password" name="password" ng-model="password"/>
    <button>sign up </button>
</form>-->
