<!-- tip: you want to use a variable in $scope instead of hard-coding 'true' or 'false' -->
<section id="welcome-section" class="row">
    <section id ="hero"></section>
    <section id="blurb" class="row">
        <p class="small-8 small-centered columns">Drum Circle, a portal into a world of sound. 
            Explore our vast library of drum sounds, choose your favorites, and start playing. 
            And don't worry, sound is encouraged in this library. Sign up to create an account, 
            or log in to get started.
        </p>
    </section>
    <login-form></login-form>
    <signup-form></signup-form>

</section>