<section id="welcome-section">
    <section id ="hero">
        <div>Hero Here</div>
    </section>
    <section id="blurb">
        <p>Our blurb goes blah blah blah</p>
    </section>
    <section id="log-in">
        <div ="userlogin">
            <button>Sign Up </button>
            <button>Log In</button>
        </div>
        <div= "form">
            <p>form goes Here</p>
            <input type="text" ng-model="username" placeholder="Username here">
        </div>
    </section>
</section>