<section id="kit">
    <h1 class="row">Kit Kat</h1>
    <div class="wrapper">

        <div id="left-defaults" class="container" dragula='"first-bag"'>
            <div>element one</div>
            <div>element two</div>
            <div>element three</div>
            <div>element four</div>
        </div>
        <div id="right-defaults" class="container" dragula='"first-bag"'>
            <div>element five</div>
            <div>element six</div>
            <div>element seven</div>
            <div>element eight</div>
        </div>
    </div>





    <!--<section id="wad-btns" class="small-8 columns">
        <h2>Play play play</h2>
        <button class="pad" id="sound1"></button>
        <button class="pad" id="sound2"></button>
        <button class="pad" id="sound3"></button>
        <button class="pad" id="sound4"></button>
        <button class="pad" id="sound5"></button>
        <button class="pad" id="sound6"></button>
        <button class="pad" id="sound7"></button>
        <button class="pad" id="sound8"></button>
        <button class="pad" id="sound9"></button>
        <button class="pad" id="sound10"></button>
        <button class="pad" id="sound11"></button>
        <button class="pad" id="sound12"></button>
        <button class="pad" id="sound13"></button>
        <button class="pad" id="sound14"></button>
        <button class="pad" id="sound15"></button>
        <button class="pad" id="sound16"></button>
    </section>-->
    <section id="fav-sounds" class="small-4 columns">
        <h2>Favorites</h2>
        <div ng-repeat="fav in favoriteList">
            <p>Category: {{ fav.category }}</p>
            <p>Name: {{ fav.name }}</p>    
        </div>
    </section>
</section>
