<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test For Drum Circle</title>
</head>
<body>
{{^user}}
<a href="/login">login</a>
<a href="/sign-up">sign up</a>


Login
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="username" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button type="submit">Login</button>
</form>

Sign Up
<form action="/sign-up" method="post">
    <input type="text" placeholder="Username" name="username" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button type="submit">Sign Up</button>
</form>
{{/user}}

Log Out
<form action="/logout" method="post">
    <input type="submit" />
</form>

{{#user}}
Welcome, {{username}}!
{{/user}}
</body>
</html>