<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1" />
    <title>Drum Circle</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.css">
    <link rel="icon" href="assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"> 
    <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
    <link href="https://fonts.googleapis.com/css?family=Joti+One|Play" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="DrumCircleApp">
    <main>
        {{#error}}
        <span class="error">{{.}}</span>
        {{/error}}
        <header-section logged-in="false"></header-section>
        <ui-view>
            <start></start>
        </ui-view>
    </main>
    <footer>
        <p>&#9400; Drum Circle 2017 | Made with <i class="fa fa-coffee" aria-hidden="true"></i>, <i class="fa fa-music" aria-hidden="true"></i>, and <i class="fa fa-heart" aria-hidden="true"></i></p>
        <p>Charlotte, NC</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://npmcdn.com/angular-ui-router@1.0.0-beta.3/release/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-dragula/1.2.8/angular-dragula.min.js"></script>
    <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="https://use.fontawesome.com/7fb1b7bdac.js"></script>
    <script src="wad.min.js"></script>
    <script src="app.js"></script>
</body>
</html>