<section id="welcome-section" class="row">
    <section id ="hero"></section>
    <section id="blurb" class="row page-overview">
        <h3 class="small-8 small-centered columns">Drum Circle, a portal into a world of sound. Explore our vast library of drum sounds, choose your favorites, and start playing.</h3>
    </section>
    <section id="welcome-container" layout="column">
        <div id="welcome-content">
            <h1>Welcome, {{ name | capitalize }}</h1> 
            <h4>Now let's make some noise</h4>
        </div>
    </section>
</section>