//Global styles
$logo-font-type: 'Joti One', cursive;
$logo-font-color: #0D4656;
$primary-font-type: 'Play', sans-serif;




//Screen sizes for media quieres 
$size-medium: 376px;
$size-large: 767px;
$size-x-large: 900px;


//Global classes
.row {
    max-width: 100%;
}

body {
    background-color: #F5F2EE;
    font-family: $primary-font-type;
}

.page-overview {
    background-color: #0D4656;
    color: #F5F2EE;
    margin: 0 !important;
    //font-family: $primary-font-type;
    text-align: center;
    padding: 15px 5px;

    @media screen and (min-width: $size-medium) {
        padding: 25px 15px;
    }
}

 h3 {
    margin: 0 auto;
    width: 80%;
    font-size: 0.8em;
    font-family: $primary-font-type;

    @media screen and (min-width: $size-medium) {
        font-size: 1rem;
    }
}

a {
    color: #0D4656;
}

a:hover {
    color: #6FC5D9;
}


//Partial Imports -------------------------------------------------
@import 'partials/header';
@import 'partials/hero-blurb';
@import 'partials/login';
@import 'partials/browse';
@import 'partials/kit';
@import 'partials/footer';

