$logo-font-type: 'Joti One', cursive;
$logo-font-color: #0D4656;
$primary-font-type: 'Play', sans-serif;

//$size-small: 375px;
$size-medium: 376px;
$size-large: 767px;
$size-x-large: 900px;

.row {
    max-width: 100%;
}

body {
    background-color: #F5F2EE;
}

.page-overview {
    background-color: #0D4656;
    color: #F5F2EE;
    margin: 0 !important;
    font-family: $primary-font-type;
    text-align: center;
    padding: 20px 5px;

    @media screen and (min-width: $size-medium) {
        padding: 40px 30px;
    }
}

 h3 {
    margin: 0 auto;
    width: 80%;
    font-size: 1.1em;
}


//Partial Imports -------------------------------------------------
@import 'partials/header';
@import 'partials/hero-blurb';
@import 'partials/login';
@import 'partials/browse';
@import 'partials/kit';
@import 'partials/footer';




//Global Variables-------------------------------------------------
