$logo-font-type: 'Joti One', cursive;
$logo-font-color: #0D4656;
$primary-font-type: 'Play', sans-serif;


//Partial Imports -------------------------------------------------
@import 'partials/header';
@import 'partials/hero-blurb';
@import 'partials/login';
@import 'partials/browse';
@import 'partials/kit';
@import 'partials/footer';




//Global Variables-------------------------------------------------

.row {
    max-width: 100%;
}